.animate:hover{
	animation: invert 1s infinite;
	-webkit-animation: invert 1s infinite;
	-moz-animation: invert 1s infinite;
}
@keyframes invert{
	0%{background-color: white;}
	50%{background-color: black;}
	100%{background-color: white;}
}
@-webkit-keyframes invert{
	0%{background-color: white;}
	50%{background-color: black;}
	100%{background-color: white;}
}
@-moz-keyframes invert{
	0%{background-color: white;}
	50%{background-color: black;}
	100%{background-color: white;}
}
/*Animating home section*/
#section0 h1{
	transform: translateY(-1000px);
	-webkit-transform: translateY(-1000px);
	-ms-transform: translateY(-1000px);
	-moz-transform: translateY(-1000px);
	opacity: 0;
	transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-moz-transition: -moz-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-ms-transition: -ms-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
}
#section0.active h1{
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	opacity: 1;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
}
#section0 .college{
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	opacity: 0;
	transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-moz-transition: -moz-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-ms-transition: -ms-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
}
#section0.active .college{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	opacity: 1;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
}
#section0 h3{
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	opacity: 0;
	transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-moz-transition: -moz-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-ms-transition: -ms-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
}
#section0.active h3{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	opacity: 1;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
}
#section0 #dp{
	transform: translateY(710px);
	-webkit-transform: translateY(710px);
	-moz-transform: translateY(710px);
	-ms-transform: translateY(710px);
	opacity: 0;
	transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-moz-transition: -moz-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-ms-transition: -ms-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
}
#section0.active #dp{
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	opacity: 1;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
}
#school,#section1 li{
	transform: translateY(410px);
	-webkit-transform: translateY(410px);
	-moz-transform: translateY(410px);
	-ms-transform: translateY(410px);
	opacity: 0;
	transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-moz-transition: -moz-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-ms-transition: -ms-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
}
#school.active,#section1.active li{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	opacity: 1;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
}
#section1 #computing #programming>li{
	transform: translateX(-400px);
	-webkit-transform: translateX(-400px);
	-moz-transform: translateX(-400px);
	-ms-transform: translateX(-400px);
	opacity: 0;
	transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-moz-transition: -moz-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-ms-transition: -ms-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
}
#section1.active #computing.active #programming>li{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	opacity: 1;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
}
#section1.active #computing.active #programming>li+li{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	opacity: 1;
	transition-delay: 0.4s;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
}
#section1.active #computing.active #programming>li+li+li{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	opacity: 1;
	transition-delay: 0.6s;
	-webkit-transition-delay: 0.6s;
	-moz-transition-delay: 0.6s;
	-ms-transition-delay: 0.6s;
}
#section1 #computing #web>li{
	transform: translateY(-1000px);
	-webkit-transform: translateY(-1000px);
	-moz-transform: translateY(-1000px);
	-ms-transform: translateY(-1000px);
	opacity: 0;
	transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-moz-transition: -moz-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-ms-transition: -ms-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
}
#section1.active #computing.active #web>li{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	opacity: 1;
	transition-delay: 1.8s;
	-webkit-transition-delay: 1.8s;
	-moz-transition-delay: 1.8s;
	-ms-transition-delay: 1.8s;
}
#section1.active #computing.active #web>li+li{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	opacity: 1;
	transition-delay: 1.6s;
	-webkit-transition-delay: 1.6s;
	-moz-transition-delay: 1.6s;
	-ms-transition-delay: 1.6s;
}
#section1.active #computing.active #web>li+li+li{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	opacity: 1;
	transition-delay: 1.4s;
	-webkit-transition-delay: 1.4s;
	-moz-transition-delay: 1.4s;
	-ms-transition-delay: 1.4s;
}
#section1.active #computing.active #web>li+li+li+li{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	opacity: 1;
	transition-delay: 1.2s;
	-webkit-transition-delay: 1.2s;
	-moz-transition-delay: 1.2s;
	-ms-transition-delay: 1.2s;
}
#section1.active #computing.active #web>li+li+li+li+li{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	opacity: 1;
	transition-delay: 1.0s;
	-webkit-transition-delay: 1.0s;
	-moz-transition-delay: 1.0s;
	-ms-transition-delay: 1.0s;
}
#section1.active #computing.active #web>li+li+li+li+li+li{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	opacity: 1;
	transition-delay: 0.8s;
	-webkit-transition-delay: 0.8s;
	-moz-transition-delay: 0.8s;
	-ms-transition-delay: 0.8s;
}
#section1.active #computing.active #web>li+li+li+li+li+li+li{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	opacity: 1;
	transition-delay: 0.6s;
	-webkit-transition-delay: 0.6s;
	-moz-transition-delay: 0.6s;
	-ms-transition-delay: 0.6s;
}
#section1.active #computing.active #web>li+li+li+li+li+li+li+li{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	opacity: 1;
	transition-delay: 0.4s;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
}
#section1.active #computing.active #web>li+li+li+li+li+li+li+li+li{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	opacity: 1;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
}
#section1 #computing #other>li{
	transform: translateX(1000px);
	-webkit-transform: translateX(1000px);
	-moz-transform: translateX(1000px);
	-ms-transform: translateX(1000px);
	opacity: 0;
	transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-moz-transition: -moz-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-ms-transition: -ms-transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
}
#section1.active #computing.active #other>li{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	opacity: 1;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
}
#section1.active #computing.active #other>li+li{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	opacity: 1;
	transition-delay: 0.4s;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
}#section1.active #computing.active #other>li+li+li{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	opacity: 1;
	transition-delay: 0.6s;
	-webkit-transition-delay: 0.6s;
	-moz-transition-delay: 0.6s;
	-ms-transition-delay: 0.6s;
}#section1.active #computing.active #other>li+li+li+li{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	opacity: 1;
	transition-delay: 0.8s;
	-webkit-transition-delay: 0.8s;
	-moz-transition-delay: 0.8s;
	-ms-transition-delay: 0.8s;
}#section1.active #computing.active #other>li+li+li+li+li{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	opacity: 1;
	transition-delay: 1.0s;
	-webkit-transition-delay: 1.0s;
	-moz-transition-delay: 1.0s;
	-ms-transition-delay: 1.0s;
}#section1.active #computing.active #other>li+li+li+li+li+li{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	opacity: 1;
	transition-delay: 1.2s;
	-webkit-transition-delay: 1.2s;
	-moz-transition-delay: 1.2s;
	-ms-transition-delay: 1.2s;
}
#section2 #calender .calendar{
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
}
#section2.active #calender.active .calendar{
	opacity: 1;
	transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
}
#section2 #repos .panel{
	transform: translateY(-200%) rotate(180deg);
	-webkit-transform: translateY(-200%) rotate(180deg);
	-moz-transform: translateY(-200%) rotate(180deg);
	-ms-transform: translateY(-200%) rotate(180deg);
	opacity: 0;
	transition: transform 1.0s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-webkit-transition: -webkit-transform 1.0s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-moz-transition: -moz-transform 1.0s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
	-ms-transition: -ms-transform 1.0s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.8s ease-in-out;
}
#section2.active #repos.active .panel{
	transform: translateY(0) rotate(360deg);
	-webkit-transform: translateY(0) rotate(360deg);
	-moz-transform: translateY(0) rotate(360deg);
	-ms-transform: translateY(0) rotate(360deg);
	opacity: 1;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
}
#section3 h1{
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	opacity: 1;
	transition: transform 1.2s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
	-webkit-transition: -webkit-transform 1.2s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
	-moz-transition: -moz-transform 1.2s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
	-ms-transition: -ms-transform 1.2s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
}
#section3.active h1{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	opacity: 1;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
}
#section3 h3{
	transform: translateY(1000px);
	-webkit-transform: translateY(1000px);
	-moz-transform: translateY(1000px);
	-ms-transform: translateY(1000px);
	opacity: 0;
	transition: transform 1.6s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
	-webkit-transition: -webkit-transform 1.6s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
	-moz-transition: -moz-transform 1.6s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
	-ms-transition: -ms-transform 1.6s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
}
#section3.active h3{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	opacity: 1;
	transition-delay: 1.6s;
	-webkit-transition-delay: 1.6s;
	-moz-transition-delay: 1.6s;
	-ms-transition-delay: 1.6s;
}
#section3 .ngudbhav h3{
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	opacity: 0;
	transition: transform 1.6s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
	-webkit-transition: -webkit-transform 1.6s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
	-moz-transition: -moz-transform 1.6s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
	-ms-transition: -ms-transform 1.6s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
}
#section3.active .ngudbhav h3{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	opacity: 1;
	transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
}
#section3 img{
	transform: scale(0,0);
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-ms-transform: scale(0,0);
	opacity: 0;
	transition: transform 1.6s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
	-webkit-transition: -webkit-transform 1.6s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
	-moz-transition: -moz-transform 1.6s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
	-ms-transition: -ms-transform 1.6s cubic-bezier(0.16, 0.68, 0.43, 0.99),opacity 0.66s ease-in-out;
}
#section3.active img{
	transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	opacity: 1;
	transition-delay: 1.2s;
	-webkit-transition-delay: 1.2s;
	-moz-transition-delay: 1.2s;
	-ms-transition-delay: 1.2s;
}
#section3.active img:hover{
	transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	-webkit-transition: -webkit-transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	-moz-transition: -moz-transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	-ms-transition: -ms-transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}