/*Adding Responsive Code*/
html{
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
#options h1{
	color: white;
}
.normal {
	filter: invert(0%);
}
.inverted {
	filter: invert(100%);
}
a:hover{
	text-decoration: none;
}
.loader{
	
}
/*TextBoxes Animation*/
input, textarea{
  display: block;
  border: none;
  height: 10vh;
  border-bottom: solid 1px #1abc9c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -ms-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  color: #0e6252;
}
textarea:active, textarea:focus{
  outline: none !important;
  border-bottom: 1px solid;
  border-color: #0e6252;
}
input:focus, input:valid {
 box-shadow: none;
 outline: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea::-webkit-placeholder {
 font-family: 'roboto', sans-serif;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
 vertical-align: middle;
 line-height: 8vh;
 z-index: 20;
}
input::-moz-input-placeholder, textarea::-moz-input-placeholder, textarea::-moz-placeholder{
  font-family: 'roboto', sans-serif;
 -moz-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
 vertical-align: middle;
 line-height: 8vh;
 z-index: 20;
}
input::input-placeholder, textarea::input-placeholder, textarea::placeholder{
  font-family: 'roboto', sans-serif;
 transition: all 0.3s ease-in-out;
 vertical-align: middle;
 line-height: 8vh;
 z-index: 20;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder, textarea:focus::-webkit-placeholder {
 color: #1abc9c;
 font-size: 18px;
 -webkit-transform: translateY(-20px);
 transform: translateY(-20px);
 visibility: visible !important;
}
input:focus::-moz-input-placeholder, input:valid::-moz-input-placeholder, textarea:focus::-moz-input-placeholder, textarea:focus::-moz-placeholder {
 color: #1abc9c;
 font-size: 18px;
 -moz-transform: translateY(-20px);
 transform: translateY(-20px);
 visibility: visible !important;
}
input:focus::input-placeholder, input:valid::input-placeholder, textarea:focus::input-placeholder, textarea:focus::placeholder {
 color: #1abc9c;
 font-size: 18px;
 transform: translateY(-20px);
 visibility: visible !important;
}
/*TextBoxes Animation End*/
.animate{
	background-color: white;
	display: inline-block;
}

.redirect{
	cursor: pointer;
}
#menu a{
	cursor: pointer;
}
/*Responsive-ness*/
#webdiv{
	border-left: 5px solid white;
}
#section4{
	font-size: 28px;
}
.cutegif{
	height: 200px;
}
#dp img{
	height: 50vh;
}
#computing ul{
	font-weight: bolder;
	width: 30%;
	margin-top: ;
}
#computing ul li{
	height: ;
}
@media(max-width: 1200px){
	.cutegif{
		/*margin-left: 5%;*/
	}
}
@media(max-width: 762px){
	h1{
		font-size: 24px;/*32px*/
	}
	h2{
		font-size: 18px;/*24px*/
	}
	h3{
		font-size: 15px;/*18px*/
	}
	h4{
		font-size: ;/**/
	}
	h5{
		font-size: 10px;/*13px*/
	}
	h6{
		font-size: 5px;/*10px*/
	}
	#section4{
		font-size: 14px;
	}
	.copyright{
		font-size: 15px;
	}
	.cutegif{
		height: 100px;
	}
	#dp img{
		height: 200px;
	}
	#webdiv{
		border-left: 0px;
	}
	#computing ul{
		margin-top: -3%;
		width: 75%;
	}
	#computing ul li{
		height: 40px
	}
}
@media(max-width: 600px){
	#computing ul li{
		height: 32px;
	}
}