<!-- Created by Udbhav Gambhir http://www.ngudbhav.me -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=0">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src 'self' 'unsafe-inline' *; img-src * data: 'unsafe-inline'">
    <meta name="Description" content="Cyber-Srishti Website for JIIT for the year 2018. This Event will be held on 21st April and 22nd April">
    <meta name="Keywords" content="Cyber-Srishti-2018, Cyber-Srishti, JIIT, Cyber, Srishti, 2018">
    <title>Cyber-Srishti-2018@JIIT</title>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Unkempt' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var noOfParticipants = 0;
      var isJIIT = 0;
      var yearv = 0;
      function participants(value){
        noOfParticipants = value
          if(value == 1){
            $('#participant1').show();$('#participant2').hide();$('#participant3').hide();$('#participant4').hide();
            $('#participant2>.form-group>input').val('');$('#participant3>.form-group>input').val('');$('#participant4>.form-group>input').val('');
          }
          else if(value == 2){
            $('#participant2').show();$('#participant3').hide();$('#participant4').hide();
            $('#participant3>.form-group>input').val('');$('#participant4.form-group>input').val('');

          }
          else if(value == 3){
            $('#participant2').show();$('#participant3').show();$('#participant4').hide();
            $('#participant4>.form-group>input').val('');
          }
          else if(value == 4){
            $('#participant2').show();$('#participant3').show();$('#participant4').show();
          }
        }
        function college(value){
          isJIIT = value;
          if(value == 3){
            $("#onenrollc").hide();
            $("#collegeField").fadeIn('fast');
          }
          else{
            $("#onenrollc").show();
            $("#collegename").val('');
            $("#collegeField").fadeOut('fast');
          }
        }
        function year(value){
          yearv = value;
        }
    </script>
  </head>
  <body onhashchange="defineloc();">
    <div class="preloader container-fluid" style="background-color: black;padding: 0;height: 100%;">
      <br><br><br>
      <div class="row">
        <div class="col-sm-12">
          <center>
            <img src="/images/cs2018/cyber srishti_logo.png" >
          </center>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12">
          <div data-role="progress" data-type="load" data-value="35" data-buffer="75"></div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12">
          <center>
            <div data-role="activity" data-type="ring" data-style="color"></div>
          </center>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <center>
            <h6 style="color: white;">
              Loading System!
            </h6>
          </center>
        </div>
      </div>
    </div>
<div class="container-fluid" style="padding: 0%;">
  <div id="about-us" style="height: inherit;background: url('/images/cs2018/college1.jpg');background-repeat: no-repeat;background-size: cover;color: white;display: none;width: 100%;">
      <div class="container h-100" id="showabout">
        <br><br>
                <center><div class="heading">About Us
                  </div>(Scroll down to locate us)</center>
                
                <h5 style="text-align: center;">With the motto of stimulating technology, scientific thinking and innovation,<br> Jaypee Institute of Information Technology<br> presents the 5th edition of its annual technical festival- CYBER SRISHTI.<br> Hence, with an overwhelming student participation<br> and a reach of over 250 colleges,<br> Cyber Srishti has become one of the most established technical festival<br> organised among Delhi-NCR colleges.<br> Cyber Srishti thus endeavours to provide youth<br> with a platform to showcase their talents<br> and skills in cut-throat competitions,<br> displaying pioneering technology and research<br> from all over the country<br> and to interact with renowned personalities.<br><br></h5>
                <br>
      </div>
      <div id="showmap" class="h-100" style="display: none;">
        <div id="map" class="h-100">
        </div>
        <br><br><br>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-12">
      <video autoplay height="100%" width="100%" poster="/video/mymovie.jpg" title="Cyber-Srishti" style="position: relative;z-index: 10;display: none;">
        <source src="/video/mymovie.webm" type="video/webm" />
        <source src="/video/mymovie.m4v" type="video/mp4" />
        <object type="application/x-shockwave-flash" data="/video/flashfox.swf" width="100%" height="100%" style="position:relative;">
          <param name="movie" value="video/flashfox.swf" />
          <param name="allowFullScreen" value="true" />
          <param name="flashVars" value="autoplay=true&amp;controls=false&amp;fullScreenEnabled=false&amp;posterOnEnd=true&amp;loop=false&amp;poster=/video/mymovie.jpg&amp;src=/video/mymovie.m4v" />
          <embed src="/video/flashfox.swf" width="100%" height="100%" style="position:relative;"  flashVars="autoplay=true&amp;controls=false&amp;fullScreenEnabled=false&amp;posterOnEnd=true&amp;loop=false&amp;poster=/video/mymovie.jpg&amp;src=/video/mymovie.m4v"  allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_en" />
          <img alt="Cyber-Srishti" src="/video/mymovie.jpg" style="position:absolute;left:0;" width="100%" title="Video playback is not supported by your browser" />
        </object>
      </video>
      <div id="overlay">
            <center>We are coming!
            <div class="time">
              <span id="days" class="btn btn-lg" style="background-color: #60302F;"></span><span class="colon">:</span><span id="hours" class="btn btn-lg" style="background-color: #60302F;"></span><span class="colon">:</span><span id="minutes" class="btn btn-lg" style="background-color: #60302F;"></span><span class="colon">:</span><span id="seconds" class="btn btn-lg" style="background-color: #60302F;"></span>
            </div>
          </center>
        </div>
    </div>
  </div>
  <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="Contact-Us" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactTitle">Contact-US!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="contactmail">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" class="form-control alert" id="cname">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control primary" id="cemail">
            </div>
            <div class="form-group">
              <label for="message">Feedback:</label>
              <textarea class="form-control warning" cols="3" name="message" style="resize: none;" id="cmessage"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Form for Registration -->
  <!-- sponsors -->
  <div class="modal fade" id="sponsors" tabindex="-1" role="dialog" aria-labelledby="Contact-Us" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sponsorsTitle">Sponsors</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <img src="/images/cs2018/sponsors/2.jpg">
            </div>
            <div class="col-sm-6">
              <img src="/images/cs2018/sponsors/du beat.jpg">
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-6">
              <img src="/images/cs2018/sponsors/DU-Khabar-Logo-2.png">
            </div>
            <div class="col-sm-6">
              <img src="/images/cs2018/sponsors/festpav.png">
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-6">
              <img src="/images/cs2018/sponsors/FB_IMG_15236203810421.jpg">
            </div>
            <div class="col-sm-6">
              <img src="/images/cs2018/sponsors/haristo1.png">
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-6">
              <img src="/images/cs2018/sponsors/FB_IMG_15236203651121.jpg">
            </div>
            <div class="col-sm-6">
              <img src="/images/cs2018/sponsors/INTERNITY_LOGO1.png">
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- end -->
  <div class="modal fade" id="eventRegister" tabindex="-1" role="dialog" aria-labelledby="Contact-Us" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventRegisterTitle">Registering for : </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="eventRegisteration">
            <label>Registrations have been closed, since all the events are over!</label>
            <select data-role="select" data-on-change="college(this.value)" id="collegeSelect">
              <option class="text-bold" selected disabled>College</option>
              <option class="fg-cyan" value="1">JIIT-62</option>
              <option class="text-bold fg-red" value="2">JIIT-128</option>
              <option class="fg-green" value="3">Others</option>
            </select>
            <br>
            <div class="form-group" id="collegeField" style="display: none;">
              <label for="college">Enter Your college</label>
              <input type="text" name="college" id="collegename">
            </div>
            <select data-role="select" data-on-change="participants(this.value)" id="numberSelect">
              <option class="text-bold" selected disabled>No. of Participants</option>
              <option class="fg-cyan" value="1">One</option>
              <option class="text-bold fg-red" value="2">Two</option>
              <option class="fg-green" value="3">Three</option>
              <option class="text-bold fg-cyan" value="4">Four</option>
            </select><br>
            <div class="form-group" id="onenrollc">
              <label for="enroll">Enrollment</label>
              <input type="text" name="enroll" class="form-control secondary" id="onenroll">
            </div>
            <div class="form-group">
              <label for="name">Full-Name </label>
              <input type="text" name="name" class="form-control alert" id="onname">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control primary" id="onemail">
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="text" name="phone" class="form-control success" id="onphone">
            </div>
            <br>
            <select data-role="select" data-on-change="year(this.value)" id="yearSelect">
              <option class="text-bold" disabled selected>Select year</option>
              <option class="fg-cyan" value="1">1st year</option>
              <option class="text-bold fg-red" value="2">2nd year</option>
              <option class="fg-green" value="3">3rd year</option>
              <option class="text-bold fg-green" value="4">4th year</option>
            </select>

            <div id="participant2" style="display: none;">
              <div class="form-group">
                Participant 2
                <label for="name">Enrollment/Phone Number</label>
                <input type="text" name="name" class="form-control alert" id="twenroll">
              </div>
            </div>
            <div id="participant3" style="display: none;">
              <div class="form-group">
                Participant 3
                <label for="name">Enrollment/Phone Number</label>
                <input type="text" name="name" class="form-control yellow" id="thenroll">
              </div>
            </div>
            <div id="participant4" style="display: none;">
              <div class="form-group">
              Participant 4
                <label for="name">Enrollment/Phone Number</label>
                <input type="text" name="name" class="form-control yellow" id="fenroll">
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <br><br><br><br><br>
  </div>
  <!-- Ending here -->
      <div class="row" id="events" style="opacity: 0;display: none;">
        <div class="col-sm-12">
          <div class="container">
            <br>
            <div class="row">
              <div class="col-sm-12">
                <center><div class="heading">Events</div></center>
              </div>
            </div>
            <hr style="height: 10px; width: 30%;background-color: black;">
            <br>
            <div class="row">
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="1" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Aerated run.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      AERATED RUN
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br>Science and technology go hand-in-hand in solving the world’s problems, robotics and automation are the latest innovations set to tackle one of our biggest issues.
                      <br>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="2" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Amigo Robo.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Amigo Robo
                    </div>
                    <p class="card-text">
                      <br>
                        Theme:  <br> The arena will consist of two tracks. One will be a line follower track and the other will be a manual robotics track.
                    <br>
                    </p>
                  </div>
                </div>
              </div>
                <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="3" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Blind Coding.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Blind Coding
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br>Cyber Srishti brings you Blind coding, the most challenging and exciting coding contest of JIIT to put your programming skills and accuracy to test.
                      <br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="4" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Bug Hunter.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Bug Hunter
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br>Cyber Srishti brings you to the event for the coding enthusiasts where you will have to spill your brains out and find the bugs in the given code to make it run. 
                    <br>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="5" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Build up.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Build up
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br>Build- up is a 8 hours hackathon that will put your skills to the ultimate test from thinking up your idea to materializing it.
                    <br>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="6" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Capture the flag.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Capture the flag
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br> In recent years climate change has become an international concern, touching on politics, an uncertain economy, business and international security
                    <br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="7" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Causatum.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Causatum
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br> Cyber Srishti presents to you the quizzing event based on the general questions from biotech and general science.  
                    <br>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="8" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Circuitrix.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Circuitrix
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br> The contest is designed to test various aspects of the participants’ technical knowledge and develop new aspects of analysis.   
                    <br>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="9" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Clicks and Strokes.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Clicks and Strokes
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br>  The submissions will be based on either of the 17 goals given by the UN. 
                    <br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="10" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Creative design.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Creative design
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br>We would provide you with waste material and random stuff, with the aim of creating a useful item, which takes us to the next round 
                    <br>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="11" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Execute.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      EXECUTE 18.1
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br> An event to test algorithmic and data structure knowledge and its implementation.
                    <br>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="12" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Green Saga.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Green SAGA
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br>Write a story incorporating any of the sustainable development goals. 
                      <br>
                    </p>
                  </div>
                </div>
              </div>

            </div>
            <br><br>
            <div class="row">
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="13" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Hydrophilic 2.0.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Hydrophilic 2.0
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br>The main aim of this event is to find out how we can use the basic day-to-day life materials to purify water. 
                      <br>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="14" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/JPL.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      JAYPEE PREMIER LEAGUE 
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br>  The questions asked will be on general awareness focussing on the technological aspect. The quiz is divided into three rounds.
                    <br></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="15" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Masterpiece.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      MAKE YOUR MASTERPIECE
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br> The event will focus on the creative side of the participants and test their on the feet thinking.  
                    <br></p>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="16" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/paper.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Paper Presentation
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br> Paper presentation is a standard platform for scholars to present their ideas.
                    <br></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="17" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Project.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Project Exhibition
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br> The most sustainable way is not to make things, but to make something very useful, to solve a problem that hasn't been solved.
                    <br></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="19" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/socio.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      REFLECT- A SOCIO-TECHNICAL DEBATE
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br> Extempore and Debate! The topics will be based on the social implications of technology.
                    <br></p>
                  </div>
                </div>                
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="20" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Start up summit.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Start-up Summit
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br> Showcase their startup idea and give them wings by designing their own B-Plan
                    <br></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="21" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/Startupedia'18.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Startupedia'18
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br>  Get your amazing crazy start up ideas and mix it with the designer in you.
                    <br></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <div class="overlay">
                      <div class="overlayContent"><div><button data-value="23" type="button" class="btn btn-outline register hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple; width: 100%;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Register</button>
                        </div><br>
                        <div><a href="/Events/sherlock.pdf" target = "_blank"><button type="button" class="btn btn-outline hovercolor" style="background-color: #FC8B3F;color:purple; border: 2px solid purple;" onmouseenter="$(this).css('background-color', 'purple');$(this).css('color', 'white')" onmouseleave="$(this).css('background-color', '#FC8B3F');$(this).css('color', 'purple');">Description</button></a>
                        </div></div>
                    </div>
                    <div class="card-title">
                      Who is The Next Sherlock?
                    </div>
                    <p class="card-text">
                      <br>
                      Theme:  <br> The Quiz will be based on INVESTIGATION theme.
                    <br></p>
                  </div>
                </div>
                <br><br><br>
              </div>
          </div>
      </div>
      </div>
    </div>
      <div id="gallery" class="row" style="height: inherit;display: none;">
        <div class="container" style="height: inherit;">
          <br>
          <div id="galleryThumbnails">
            <br>
          <center><div class="heading">Gallery</div>(Click on an image to run slide-show)</center>
          <div class="row" style="padding: 1%;">
            <div class="col-sm-4">
              <img src="../images/cs2018/gallery1-mini.jpg" class="img-thumbnail" data-value="1">
            </div>
            <div class="col-sm-4">
              <img src="../images/cs2018/gallery2-mini.jpg" class="img-thumbnail" data-value="2">
            </div>
            <div class="col-sm-4">
              <img src="../images/cs2018/gallery3-mini.jpg" class="img-thumbnail" data-value="3">
            </div>
          </div>
          <br>
          <div class="row" style="padding: 1%;">
            <div class="col-sm-4">
              <img src="../images/cs2018/gallery4-mini.jpg" class="img-thumbnail" data-value="4">
            </div>
            <div class="col-sm-4">
              <img src="../images/cs2018/gallery5-mini.jpg" class="img-thumbnail" data-value="5">
            </div>
            <div class="col-sm-4">
              <img src="../images/cs2018/gallery6-mini.jpg" class="img-thumbnail" data-value="6">
            </div>
          </div>
          <br>
          <div class="row" style="padding: 1%;">
            <div class="col-sm-4">
              <img src="../images/cs2018/gallery7-mini.jpg" class="img-thumbnail" data-value="7">
            </div>
            <div class="col-sm-4">
              <img src="../images/cs2018/gallery8-mini.jpg" class="img-thumbnail" data-value="8">
            </div>
            <div class="col-sm-4">
              <img src="../images/cs2018/gallery9-mini.jpg" class="img-thumbnail" data-value="9">
            </div>
          </div>
          <br><br><br>
        </div>
        <center>
        <div id="galleryCarousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="false" style="width: fit-content; padding: 1%;display: none;box-shadow: 10px 10px 10px 10px #888888;padding-bottom: 3%;">
          <br><div style=" z-index: 20;"><i class="fas fa-times fa-3x place-right"></i></div>
          <br>
          <div class="carousel-inner" style="height: ;">
            <div class="carousel-item">
              <img  src="../images/cs2018/gallery1.jpg" >
            </div>
            <div class="carousel-item">
              <img  src="../images/cs2018/gallery2.jpg" >
            </div>
            <div class="carousel-item">
              <img  src="../images/cs2018/gallery3.jpg" >
            </div>
            <div class="carousel-item">
              <img  src="../images/cs2018/gallery4.jpg" >
            </div>
            <div class="carousel-item">
              <img  src="../images/cs2018/gallery7.jpg" >
            </div>
            <div class="carousel-item">
              <img  src="../images/cs2018/gallery8.jpg" >
            </div>
            <div class="carousel-item">
              <img  src="../images/cs2018/gallery9.jpg" >
            </div>
          </div>
          <a class="carousel-control-prev" href="#galleryCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#galleryCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div></center>
        </div>
      </div>
      <div id="accomodation" class="h-100" style="display: none;">
        <div class="row">
          <div class="col-sm-12">
            <br>
            <center><div class="heading accomodation">Accomodation</div></center>
          </div>
        </div>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1>Please read below, before filling the form.</h1>
            <p class="lead">
            The accommodation is free of cost for all the participants opting for it. This does not include food facility. Guests can purchase their meals from cafeteria, food stalls and mess of the college.</p>
            <p class="lead">
              If you registered for our accommodation, you will receive a confirmation mail within 24 hrs of your request.
            </p>
            <p class="lead">
              The confirmation will be given based on the registration of participants on our website for the event they wish to participate in.
            </p>
            <p class="lead">
             For further enquires, send us an email at <a href="mailto:info@cybersrishti.com">info@cybersrishti.com</a> 
            </p>
            <p class="lead">
              Contact person:
            </p>
            <p class="lead">
              Yash Goyal
            </p>
            <p class="lead">
              +91-7065276461
            </p>
            <br><br>
            <form id="accomodationForm">
              <br>
              <center>Fill this Form to Reach us!</center>
              <br>
              <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" name="aname" class="form-control alert">
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" name="aemail" class="form-control warning">
              </div>
              <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <input type="text" name="aphone" class="form-control primary">
              </div>
              <div class="form-group">
                <label for="college">College</label>
                <input type="text" name="acollege" class="form-control secondary">
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" name="address" class="form-control info">
              </div>
              <button type="submit" class="btn-block btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <br><br><br><br>
      </div>
      <!-- row not included in team page -->
            <div id="team" class="h-100" style="display: none;">
             <br>
            <div class="container" style="padding-top: 2%;">
              <h3 style="text-align: center;">Faculty Coordinators</h3>
              <hr style="height: 5px;background-color: rgba(0, 0, 0, 0.8)">
              <div class="row">
                <div class="col-sm-4 offset-sm-4">
                  <figure class="figure">
                    <img src="../images/cs2018/sg.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Prof. Sanjay Goel<br>HOD CSE &amp; IT Dept.</h5></figcaption>
                    <!-- Photo size Reduce -->
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2 offset-sm-1">
                  <figure class="figure">
                    <img src="../images/cs2018/mkt1.JPG" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Dr. Manish Kumar Thakur<br>CSE &amp; IT Dept.</h5></figcaption>
                  </figure>
                </div>
                <div class="col-sm-2 offset-sm-1">
                  <figure class="figure">
                    <img src="../images/cs2018/tkt.JPG" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Dr. Tribhuwan Kumar Tewari<br>CSE &amp; IT Dept.</h5></figcaption>
                  </figure>
                </div>
                <div class="col-sm-2 offset-sm-1">
                  <figure class="figure">
                    <img src="../images/cs2018/shamim.JPG" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Dr. Shamim Akhter<br>ECE Dept.</h5></figcaption>
                  </figure>
                </div>
                <div class="col-sm-2 offset-sm-1">
                  <figure class="figure">
                    <img src="../images/cs2018/ashwini.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Dr. Ashwini Mathur<br> Biotech Dept.</h5></figcaption>
                  </figure>
                </div>
              </div>
              <h3 style="text-align: center;">Organising Director</h3>
              <hr style="height: 5px;background-color: rgba(0, 0, 0, 0.8)">
              <div class="row">
                <div class="col-sm-4 offset-sm-4">
                  <figure class="figure">
                    <img src="../images/cs2018/teams/aayush.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Aayush Goel<br>9810594137</h5></figcaption>
                    <!-- Photo size Reduce -->
                  </figure>
                </div>
              </div>
              <h3 style="text-align: center;">Organising Head</h3>
              <hr style="height: 5px;background-color: rgba(0, 0, 0, 0.8)">
              <div class="row">
                <div class="col-sm-3 offset-sm-3">
                  <figure class="figure">
                    <img src="../images/cs2018/teams/aniket.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Aniket Ahuja<br>9643611772</h5></figcaption>
                  </figure>
                  
                </div>
                <div class="col-sm-3">
                  <figure class="figure">
                    <img src="../images/cs2018/teams/vivek.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Vivek Singh<br>9643271975</h5></figcaption>
                  </figure>
                  
                </div>
              </div>
              <h3 style="text-align: center;">Management Head</h3>
              <hr style="height: 5px;background-color: rgba(0, 0, 0, 0.8)">
              
              <div class="row">
                <div class="col-sm-3 offset-sm-3">
                  <figure class="figure">
                    <img src="../images/cs2018/teams/akshay.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Akshay Anand</h5></figcaption>
                  </figure>
                  
                </div>
                <div class="col-sm-3">
                  <figure class="figure">
                    <img src="../images/cs2018/teams/shubham.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Shubham Aggarwal</h5></figcaption>
                  </figure>
                  
                </div>
              </div>
              <h3 style="text-align: center;">Public Relations Head</h3>
              <hr style="height: 5px;background-color: rgba(0, 0, 0, 0.8)">
              
              <div class="row">
                <div class="col-sm-3 offset-sm-3">
                  <figure class="figure">
                    <img src="../images/cs2018/teams/abhinal.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Abhinal Gupta<br>9953121097</h5></figcaption>
                  </figure>
                  
                </div>
                <div class="col-sm-3">
                  <figure class="figure">
                    <img src="../images/cs2018/teams/srijan.png" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Srijan Srivastava<br>8700917364</h5></figcaption>
                  </figure>
                </div>
              </div>
              <h3 style="text-align: center;">Marketing Head</h3>
              <hr style="height: 5px;background-color: rgba(0, 0, 0, 0.8)">
              
              <div class="row">
                <div class="col-sm-3 offset-sm-3">
                  <figure class="figure">
                    <img src="../images/cs2018/teams/tanuja.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Tanuja</h5></figcaption>
                  </figure>
                  
                </div>
                <div class="col-sm-3">
                  <figure class="figure">
                    <img src="../images/cs2018/teams/yash.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Yash Goyal</h5></figcaption>
                  </figure>
                </div>
              </div>
              <h3 style="text-align: center;">Digital Head</h3>
              <hr style="height: 5px;background-color: rgba(0, 0, 0, 0.8)">
              
              <div class="row">
                <div class="col-sm-4 offset-sm-4">
                  <figure class="figure">
                    <img src="../images/cs2018/teams/ritivik.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Ritwik Singhal</h5></figcaption>
                  </figure>
                  
                </div>
              </div>
              <h3 style="text-align: center;">Creative Head</h3>
              <hr style="height: 5px;background-color: rgba(0, 0, 0, 0.8)">
              
              <div class="row">
                <div class="col-sm-3 offset-sm-3">
                  <figure class="figure">
                    <img src="../images/cs2018/teams/saloni.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Saloni Aggarwal</h5></figcaption>
                  </figure>
                  
                </div>
                <div class="col-sm-3">
                  <figure class="figure">
                    <img src="../images/cs2018/teams/pooja.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Pooja Garg</h5></figcaption>
                  </figure>
                  
                </div>
              </div>
              <h3 style="text-align: center;">Hospitality Head</h3>
              <hr style="height: 5px;background-color: rgba(0, 0, 0, 0.8)">
              
              <div class="row">
                <div class="col-sm-3 offset-sm-3">
                  <figure class="figure">
                    <img src="../images/cs2018/teams/MANSI.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Mansi Gupta</h5></figcaption>
                  </figure>
                </div>
                <div class="col-sm-3">
                  
                  <figure class="figure">
                    <img src="../images/cs2018/teams/smriti.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Smriti Mittal</h5></figcaption>
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 offset-sm-4">
                  <figure class="figure">
                    <img src="../images/cs2018/teams/parimal.jpg" class="figure-img rounded img-fluid">
                    <figcaption class="figure-caption figcaption"><h5>Parimal Mishra</h5></figcaption>
                  </figure>
                </div>
              </div>
              <h3 style="text-align: center;">Web Admin</h3>
              <hr style="height: 5px;background-color: rgba(0, 0, 0, 0.8)">
              <div class="row">
                <div class="col-sm-4 offset-sm-4">
                  <figure class="figure">
                    <img src="/images/cs2018/teams/udbhav.jpg" class="figure-img rounded img-fluid" alt="Udbhav Gambhir">
                    <figcaption class="figure-caption figcaption"><h5>Udbhav Gambhir<br><a href="http://www.ngudbhav.me" target="_blank">Website</a></h5></figcaption>
                  </figure>
                </div>
              </div>
              <br><br>
            </div>
         </div>
                  
                  <!-- Loading bar half -->
  <div data-role="charms" data-position="left" id="el" class="charms" style="padding-right: 1%;padding-top: 1%;">
      <ul class="large">
          <div data-role="tile" data-size="wide" id="about-tile" style="background-color: #ED1E25;">
          <span>&nbsp;About us</span>
            <span class="icon"><i class="fas fa-users"></i></span>
          </div><br>
          <div data-role="tile" data-size="wide" id="event-tile" style="background-color: #9542C1;">
          <span>&nbsp;Events</span>
            <span class="icon"><i class="far fa-calendar"></i></span>
          </div><br>
          <div data-role="tile" data-size="wide" id="gallery-tile" style="background-color: #008dcc;">
          <span>&nbsp;Gallery</span>
            <span class="icon"><i class="fas fa-images"></i></span>
          </div><br>
          <div data-role="tile" data-size="wide" id="team-tile" style="background-color: #00b433;">
          <span>&nbsp;Team</span>
            <span class="icon"><i class="fas fa-envelope-open"></i></span>
          </div><br>
          <div data-role="tile" data-size="wide" id="hospitality-tile" style="background-color: #f77605;">
          <span>&nbsp;Hospitality</span>
            <span class="icon"><i class="fas fa-bed"></i></span>
          </div>
      </ul>
  </div>
  <div data-role="charms" data-position="bottom" id="start" class="charms" style="padding:0px;">
      <div style="width: 100%;" class="d-flex flex-justify-between">
      
      <button class="btn btn-info btn-lg" id="startmenu" style="background-color: #530C0C;"><span class="icon mif-apps" data-hotkey="Ctrl" data-toggle="popover" title="Press CTRL key to start!" data-placement="top"></span> Start</button>
        <div style="right: 1%;font-size: 1rem;padding-top: 0.4%;">
          <!-- <span class="mif-copyright mif-3x fg-blue"></span>&nbsp;Cyber-Srishti 2018&nbsp;&nbsp; -->
          <button class="btn btn-warning" id="desktop" style="padding-top:1%;" data-toggle="popover" title="Click here to return home immediately!" data-placement="top"><span class="icon"><i class="fas fa-desktop"></i>&nbsp;<span class="text">Desktop</span></span></button>
          <button class="btn btn-warning" id="contact-tile" style="padding-top:1%;" onclick="$('#contact').modal('toggle');$('#sponsors').modal('hide')"><span class="icon mif-phone"></span>&nbsp;<span class="text">Contact-Us!</span></button>
          <button class=" btn btn-warning" style="padding-top:1%;"  id="sponsor-tile" onclick="$('#contact').modal('hide');$('#sponsors').modal('toggle');"> <i class="far fa-handshake"></i>&nbsp;<span class="text">Sponsors</span></button>
        </div>
      </div>
  </div>
    <!-- jQuery first, then Metro UI JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ1d-vhJFZUo0ikKQvLTR83nv3Y0o9YaI">
    </script>
    <script>
      var map;
      function initMap(){
      var jiit = {lat: 28.630453, lng: 77.372093};
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: jiit,
        scrollwheel: false
      });
      var marker = new google.maps.Marker({
        position: jiit,
        map: map
      });
      };
    </script>
    <script type="text/javascript">
      if($(window).width()<500){
        $(".preloader>div>div>center>img").attr('src', '../images/cs2018/soon-mini1.jpg');
        $(".preloader>div>div>center>img").attr('class', 'img-fluid');
        $('[data-toggle="popover"]').popover('hide');
      }
      $("video").bind('timeupdate', pausingFunction);
      function pausingFunction(){
        if(this.currentTime>10.5){
          this.pause();
          $("#timeShow").fadeIn('slow');
        }
      }
      $(".btn-warning").hover(function(){
        $(this).css('background-color', 'white');
      });
      $(".btn-warning").mouseout(function(){
        $(this).css('background-color', '');
      });
      function defineloc(){
        if(window.location.hash === "#events"){
          prePageOpen();
          eventsOpen();
        }
        else if(window.location.hash === "#about-us"){
          prePageOpen();
          aboutOpen();
        }
        else if(window.location.hash === "#gallery"){
          prePageOpen();
          galleryOpen();
        }
        else if(window.location.hash === "#team"){
          prePageOpen();
          teamOpen();
        }
        else if(window.location.hash === "#accomodation"){
          prePageOpen();
          accomodationOpen();
        }
      }
      var charms = $("#el").data('charms');
      $("#galleryThumbnails>div>div>img").click(function(){
        var x = $(this).attr('data-value');
        if(x > $(".carousel-inner>.carousel-item").length){
          $(".carousel-inner>.carousel-item:eq(1)").addClass('active');
        }
        else{
          $(".carousel-inner>.carousel-item:eq("+(x-1)+")").addClass('active');
        }
        $("#galleryThumbnails").fadeOut('fast');
        $("#galleryCarousel").fadeIn('fast');
        charms.close();
      });
      $(".fa-times").click(galleryFunction);
      function galleryFunction(){
        $(".carousel-inner>.active").removeClass('active');
        $("#galleryCarousel").fadeOut('fast', function(){
          $("#galleryThumbnails").fadeIn('fast');
        });
        charms.open();
      }
      function prePageOpen(){
        $("video").hide();
        galleryFunction();
        $("body").css('height', 'auto');
        $("html").css('height', 'auto');
        $('#contact').modal('hide');
        $('#sponsors').modal('hide');
        $("#overlay").hide();
        charms.close();
        $("body").css('overflow-y', 'auto');
        $("#events").css('display', 'none');
        $("#gallery").css('display', 'none');
        $("#team").css('display', 'none');
        $("#accomodation").css('display', 'none');
        $("#about-us").css('display', 'none');
      }
      function aboutOpen(){
        window.location = "#about-us";
        $("body").css('overflow-y', 'scroll');
        $("body").css('height', '100%');
        $("html").css('height', '100%');
        $(window).scrollLock = true;
        $("#about-us").css('display', 'block');
        $("#about-us").addClass('open-page');
        $(".card").addClass('opened');
      }
      function eventsOpen(){
        window.location = "#events";
        $("#events").css('display', 'block');
        $("#events").addClass('open-page');
      }
      function galleryOpen(){
        window.location = "#gallery";
        $("#gallery").addClass('open-page');
        $("#gallery").css('display', 'block');
      }
      function teamOpen(){
        window.location = "#team";
        $("#team").addClass('open-page');
        $("#team").css('display', 'block');
        $(window).scrollLock = true;
      }
      function accomodationOpen(){
        window.location = "#accomodation";
        $("#accomodation").addClass('open-page');
        $("#accomodation").css('display', 'block');
      }
      $("#desktop").click(function(){
        prePageOpen();
        window.location.hash="";
        $("video").show();
        $("video").currentTime = 0;
        $("video")[0].play();
        $("#overlay").show();
      });
      $(".large>div").bind('click', function(){
        $(".large>div").css('border', '0px');
        $(this).addClass('jumpwin8');
        var element = $(this);
        $(this).css('border', '5px solid #1A5F6A');
        if(element.attr('id') === 'about-tile'){
          window.location = "#about-us";
        }
        else if(element.attr('id') === 'event-tile'){
          window.location = "#events";
        }
        else if(element.attr('id') === 'team-tile'){
          window.location = "#team";
        }
        else if(element.attr('id') === 'hospitality-tile'){
          window.location = "#accomodation";
        }
        else if(element.attr('id') === 'gallery-tile'){
          window.location = "#gallery";
        }
        setTimeout(function(){$(".large>div").removeClass('jumpwin8');}, 2200);
      });
      $(document).click(function(e){
        if(e.which !== undefined){
        $('[data-toggle="popover"]').popover('hide');
        $("body").css('overflow-y', 'auto');
        if($("#el")[0] != e.target && $("#startmenu")[0] != e.target){
          var charms = $("#el").data('charms');
          charms.close();
        }
      }
      });
      var i = 0;
      var scrolledTop = false;
      $(document).scroll(function(e){
        e.preventDefault();
        e.stopPropagation();
        var lastPosition = $(this).scrollTop();
        if(lastPosition>i){
          if(!scrolledTop){
            if($("#about-us").css('display') === 'block'){
              $("#showabout").fadeOut('slow', function(){
                $("#showmap").fadeIn('slow');
              });
            }
            scrolledTop = true;
          }
        }
        else{
          if(scrolledTop){
            if($("#about-us").css('display') === 'block'){
              $("#showmap").fadeOut('slow', function(){
                $("#showabout").fadeIn('slow');
              });
            }
            scrolledTop = false;
          }
        }
        i = lastPosition;
      });
      $("#startmenu").click(function(){
        var charms = $("#el").data('charms');
        charms.toggle();
      });
      setTimeout(function(){
        $(".preloader").css({
          transform: 'rotateY(90deg)',
          opacity : 0,
          transition : 'transform 1s ease-in-out, opacity 1s'
        });
        $("#main").css('opacity', '0');
      }, 6000);
      setTimeout(function(){
        $(".preloader").css('display', 'none');
        $(".container-fluid").addClass('h-100');
        $("html,body").css('height', 'auto');
        $("body").css('overflow-y', 'hidden');
        $("#overlay").show();
        $("video").show();
        if($(window).width()>=500){
        }
        $("#main-screen").css({
          opacity: 1,
          transition : 'opacity 1s'
        });
        $("#overlay").css('display', 'block');
        var charms = $("#start").data('charms');
        charms.open();
        setTimeout(function(){$('[data-toggle="popover"]').popover();
        $('[data-toggle="popover"]').popover('show');/*$("video")[0].play();*/}, 500);
      }, 7500);
      $(".register").click(function(){
        $('#eventRegister').modal('show');
      });
      $(document).keyup(function(e){
        if(e.ctrlKey){
          var charms = $("#el").data('charms');
          charms.open();
        }
      });
      $(document).ready(function() {
        window.location.hash = "";
        initMap();
      });
    </script>
    <script type="text/javascript">
      var formid = 0;
      $(".register").click(function(e){
        formid = $(this).attr('data-value');
        var data = {
          id:$(this).attr('data-value')
        }
        console.log(formid);
        if(formid == 3 || formid ==  9 || formid ==  16 || formid ==  19){//MAx participation is 1
          $("#numberSelect").siblings("ul").children("li:eq(2)").hide();
          $("#numberSelect").siblings("ul").children("li:eq(3)").hide();
          $("#numberSelect").siblings("ul").children("li:eq(4)").hide();
        }
        else if(formid==4 || formid==10 || formid==12 || formid==13 || formid==14){//MAX participation is 2
          $("#numberSelect").siblings("ul").children("li:eq(2)").show();
          $("#numberSelect").siblings("ul").children("li:eq(3)").hide();
          $("#numberSelect").siblings("ul").children("li:eq(4)").hide();
        }
        else if(formid== 6||formid== 8||formid==11 || formid==15 || formid==20 || formid==21 || formid==23){
          $("#numberSelect").siblings("ul").children("li:eq(2)").show();
          $("#numberSelect").siblings("ul").children("li:eq(3)").show();
          $("#numberSelect").siblings("ul").children("li:eq(4)").hide();
        }
        else{
          $("#numberSelect").siblings("ul").children("li:eq(2)").show();
          $("#numberSelect").siblings("ul").children("li:eq(3)").show();
          $("#numberSelect").siblings("ul").children("li:eq(4)").show();
        }
        $.ajax({
          url: '/getForm',
          type: 'GET',
          data: data,
          success: function(e){
            $("#eventRegisterTitle").html('Registering for : '+e);
          }
        }).fail(function(e) {
          alert('Failed to fetch form details! Please Check your Connection!');
        });
      });
      $("#onenroll").blur(function(e){
        var data={
          enroll: $("#onenroll").val()
        };
        $.ajax({
          url: '/getDetails',
          type: 'GET',
          data: data,
          success: function(e){
            if(e.length!==0){
              $("#onname").val(e[0].name);
              $("#onemail").val(e[0].email);
              $("#onphone").val(e[0].phone);
            }
            else{
              $("#onname").val('');
              $("#onemail").val('');
              $("#onphone").val('');
            }
          }
        });
      });
      $("#eventRegisteration").submit(function(e){

        e.preventDefault();
        alert('All the registrations have been closed!')
        /*var data = {
          enroll: $("#onenroll").val(),
          name: $("#onname").val(),
          email: $("#onemail").val(),
          phone: $("#onphone").val(),
          participants: noOfParticipants,
          ishome: isJIIT,
          year: yearv,
          collegename: $("#collegename").val(),
          second: $("#twenroll").val(),
          third: $("#thenroll").val(),
          fourth: $("#fenroll").val(),
          whichForm: formid
        };
        var count = 0;
        if(data['participants'] == 1){
        	if(data['name'] !== '' && data['email'] !== ''  && data['phone'] !== ''){
        		count = 1;
        	}
        }
        if(data['participants'] == 2){
        	if(data['name'] !== '' && data['email'] !== ''  && data['phone'] !== '' && data['second'] !== ''){
        		count = 1;
        	}
        }
        if(data['participants'] == 3){
        	if(data['name'] !== '' && data['email'] !== ''  && data['phone'] !== '' && data['second'] !== '' && data['third'] !== ''){
        		count = 1;
        	}
        }
        if(data['participants'] == 4){
        	if(data['name'] !== '' && data['email'] !== ''  && data['phone'] !== '' && data['second'] !== '' && data['third'] !== '' && data['fourth'] !== ''){
        		count = 1;
        	}
        }
        console.log(count);
        if(count === 1){
        	$.ajax({
          		url: '/registration',
          		type: 'GET',
          		data: data,
          		success: function(e){
                console.log(e);
            		if(e=="0"){
              			alert("There was an error! Please Check your Connection!");
            		}
            		else if(e=="3"){
              			alert("Your Team is already registered with us! Please Check Your mail if you want to know your TeamID. If you did not recieve any mail, this is likely a server issue. Please Contact us and we will help you out.");
              			$("#eventRegisteration")[0].reset();
            		}
            		else {
              			alert('Success! Your Team ID is '+ e);
             	 		$("#eventRegisteration")[0].reset();
            		}
          		}
        	}).fail(function(e) {
            alert('error' + JSON.stringify(e));
        	});
    	}
    	else{
    		alert("You need to fill all the details");
    	}*/
      });
      $("#contactmail").submit(function(e) {
        e.preventDefault();
        var data={
          name: $("#cname").val(),
          email: $("#cemail").val(),
          message: $("#cmessage").val()
        };
        $.ajax({
        url: '/contact',
        type: 'GET',
        data: data,
        success: function(r){
          if(r == "1"){
            alert('Success! Our team will reach you very soon!');
            $("#contactmail")[0].reset();
          }
          else{
            alert('Failed');
          }
        }
      }).fail(function(r) {
          console.log("error");
        }); 
      });
      $("#accomodationForm").submit(function(e){
        e.preventDefault();
        alert('All the forms have been closed!');
        /*var data = {
          name: $("input[name='aname']").val(),
          email: $("input[name='aemail']").val(),
          phone: $("input[name='aphone']").val(),
          college: $("input[name='acollege']").val(),
          address: $("input[name='address']").val()
        };
        $.ajax({
          url: '/accomodation',
          type: 'GET',
          data: data,
          success: function(e){
            if(e=="0"){
              alert('There is an internal server error and your request could not be processed. Please try using the feedback form for the same.');
            }
            else if(e == "1"){
              alert('Success! Your form has been submitted!');
              $("#accomodationForm")[0].reset();
            }
            else{
              alert('It appears that the phone number is already registered with us.');
            }

          }
        }).fail(function() {
          alert('There is an internal server error and your request could not be processed. Please try using the feedback form for the same.');
        });*/
      });
    </script>
    <script type="text/javascript">
      var countDownDate = new Date("Apr 21, 2018 01:00:00").getTime();
      var count = 0;
      var x = setInterval(function(){
        var now = new Date().getTime();
        var distance = countDownDate - now;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        $("#days").html(days + "d");
        $("#hours").html(hours + "h");
        $("#minutes").html(minutes + "m");
        $("#seconds").html(seconds + "s");
        if(distance<0){
          clearInterval(x);
          $("#overlay").html('<center>Cybersrishti is now OVER! Thank you for your participation.</center>');
        }
        else{
          if(count === 0){
            $(".colon").html(':');
            count = 1;
          }
          else{
            $(".colon").html(' ');
            count = 0;
          }
        }
      }, 1000);
    </script>
  </body>
</html>