
<!Doctype html>
<html>
	<head>
		<title>NGUdbhav  ||  Udbhav Gambhir</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="Description" content="Udbhav Gambhir's official and only resume website.">
			<meta name="Keywords" content="NGUdbhav, Udbhav Gambhir, Udbhav, Gambhir">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
			<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
			<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
			<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.css">
			<link rel="stylesheet" type="text/css" href="/css/home.css">
			<link rel="stylesheet" type="text/css" href="/css/animate.css">
			<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
			<link rel="manifest" href="/images/favicons/manifest.json">
			<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
			<meta name="theme-color" content="#ffffff">
			<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
			<link rel="stylesheet" href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css" defer/>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
			<script src = "https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>
			<script>
				$(document).ready(function(){
					$('#fullpage').fullpage({
						scrollingSpeed: 700,
						normalScrollElements: '#list-tab, .calendar',
						recordHistory: false,
						anchors: ['intro','schooling','github','social','contact']
					});
					$(".loader").fadeOut('slow', function() {
						$("#fullbody").fadeIn('slow');
					});
				});
				function onSubmit(token) {
         			document.getElementById("mail").submit();
       			}
       			$(document).keydown(function(event) {
       				if(event.which === 9 || event.keyCode === 9){
       					event.preventDefault();
       				}
       			});
			</script>
			<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	</head>	
	<body class = "homepage" id = "bootstrap-override" style="background-color: rgb(40,40,40);">
		<div class="row loader" style="height: 100%;">
			<div class="col-sm-12" align="center" style="top: 40%;color: white;">
				<i class="fas fa-spinner fa-pulse fa-5x"></i>
			</div>
		</div>
		<div class = "normal" id = "fullbody" style="display: none;">
			<div id = "fullpage">
				<div class = "section active" id = "section0" style="color: white;font-family: 'Bungee', cursive;">
					<br><br>
	 				<div class="row">
  						<div class="col-sm-7">
  							<center>
  								<h3 style="letter-spacing: 3px;"><br>Udbhav Gambhir</h1>
								<h5 class="college">Studying CSE <br> Jaypee Institute of Information Technology</h3>
								<h5>Noida, Delhi-NCR (201309)</h3>
							</center>
  						</div>
  						<div class="col-sm-5" id="dp">
  							<center>
  								<img src="images/capture1.jpg" class="img-responsive" width="100%">
  							</center>
  						</div>	
					</div>
					<center>
						<div class="row">
							<div class="col-sm-12">
								<div>
									<img src="/images/scroll.gif"><br><p style = "font-size: 1rem;">Scroll Down SLOWLY!</p>
								</div>
							</div>
						</div>
					</center> 
				</div>
				<div class = "section" id = "section1" style="color: white;">
					<div class = "slide" id = "school">
						<div class="row">
							<center>
								<div class="col-sm-8">
									<ul style="list-style: none;padding-left: 0;">
										<h5>
											<li>
												<div class="alert alert-dark">
													<h4 class="alert-heading"><u>Smart India Hackathon - 2019 Winner</u></h4>
													<p>Developed a GUI Software powered by supply chain blockchain at the backend. The software was created to solve the problem of securing the authenticity of farmer inputs.</p>
												</div>
											</li><br>
											<li>
												<div class="alert alert-dark">
													<h4 class="alert-heading"><u>Softpedia '100%' award</u></h4>
													<p>Award received for creation and maintainance of <a>TriCo</a> Software. The Software uses Electron.js, Github Releases for update checkup and management and converts excel file to mysql db/mongo collection.</p>
												</div>
											</li>
										</h5>
									</ul>
								</div>
							</center>
						</div>
					</div>
					<div class = "slide" id = "computing" style="color: white;">
						<center>
							<div class="row">
								<div class="col-4">
									<h3>Familiar</h3>
									<ul class="list-group" id="programming">
  										<li class="list-group-item list-group-item-action s">C,C++</li>
  										<li class="list-group-item list-group-item-action s">JAVA (AWT, Swing, JDBC, Mailer, Threads)</li>
  										<li class="list-group-item list-group-item-action s" data-toggle="tooltip" title="">Python</li>
  									</ul>
								</div>
								<div class="col-4" id="webdiv">
									<h3>Experienced</h3>
									<ul class="list-group" id="web">
  										<li class="list-group-item list-group-item-action s">HTML, CSS, JS, JQuery</li>
  										<li class="list-group-item list-group-item-action s">Bootstrap, Metro, MDB</li>
  										<li class="list-group-item list-group-item-action s">Node.js, Express, Passport, Socket.io, Cron</li>
  										<li class="list-group-item list-group-item-action s">AJAX, HBS, EJS, Engines</li>
  										<li class="list-group-item list-group-item-action s">MYSQL, MongoDB, NeDB, SQLite</li>
  										<li class="list-group-item list-group-item-action s">AWS, Heroku, Github-Pages</li>
  										<li class="list-group-item list-group-item-action s">Linux, Git, NPM</li>
  										<li class="list-group-item list-group-item-action s">Electron.js, Child process, OS API</li>
  										<li class="list-group-item list-group-item-action s">Android/iOS -> Cordova, Phonegap</li>
									</ul>
								</div>
								<div class="col-4">
									<h3>Knows about</h3>
									<ul class="list-group" id="other">
										<li class="list-group-item list-group-item-action s">Blockchain</li>
										<li class="list-group-item list-group-item-action s">Web3,Solidity</li>
										<li class="list-group-item list-group-item-action s">Android</li>
										<li class="list-group-item list-group-item-action s">XML</li>
										<li class="list-group-item list-group-item-action s">ML</li>
										<li class="list-group-item list-group-item-action s">Debugging</li>
									</ul>
								</div>
							</div>
						</center>
					</div>
					<div class = "slide" id = "projects">
						<center><h3>Some of the Best Works</h3></center>
						<div class="row" style="color:black">
							<div class="col-sm-6 offset-sm-2 col-md-2 offset-md-2" style="color:black;padding-right:0px;">
								<div class="list-group" id="list" role="tablist" style="overflow: auto;color:black">
									<a class="list-group-item list-group-item-action active" id="1" data-toggle="list" href="#list-1" role="tab" aria-controls="home">
										<span class="mobile">TriCo Software</span>
										<span class="pc" onclick='window.location.assign("/download/trico/");'>TriCo Software</span> 
									</a>
									<a class="list-group-item list-group-item-action" id="2" data-toggle="list" href="#list-2" role="tab" aria-controls="home">
										<span class="mobile">NPM Modules </span>
										<span class="pc" onclick="window.location.assign('/npm/mysql/');">Excel-to-MySQL</span>
									</a>
									<a class="list-group-item list-group-item-action" id="3" data-toggle="list" href="#list-3" role="tab" aria-controls="home">
										<span class="mobile">Cybersrishti - 2018 & 2019</span>
										<span class="pc" onclick="window.location.assign('/npm/mongo/');">Excel-to-MongoDB</span>								
									</a>
									<a class="list-group-item list-group-item-action" id="4" data-toggle="list" href="#list-4" role="tab" aria-controls="home">
										<span class="mobile">Social Network Discussion Portal</span>
										<span class="pc" onclick="window.location.assign('/cs2019');">2019 Website</span>
									</a>
									<a class="list-group-item list-group-item-action" id="5" data-toggle="list" href="#list-5" role="tab" aria-controls="home">Android Development <span class="pc"></span></a>
								</div>
							</div>
							<div class="col-6 mobile" style="background-color:#b7b7b7;color:#495057;color:black">
								<div class="tab-content" id="nav" style="padding:5%;">
									<div class="tab-pane fade show active" id="list-1" role="tabpanel" aria-labelledby="list-home-list">A Software to convert excel file to database in mysql or collection in mongodb.<br> Periodically maintained with update support.<br>Cross Platform Support.<br> Saves previously entered information. Featured on <a href="/softpedia/" target="_blank">Softpedia</a> and <a href="/electronjs/" target="_blank">Electronjs</a>.<br><br> <a href="/download/trico/" target="_blank">Download Now (Windows)</a></div>
									<div class="tab-pane fade" id="list-2" role="tabpanel" aria-labelledby="list-home-list">NPM Packages to covert excel files.<br> These packages are the backbone of the software TriCo.<br> With downloads of more than 150, these are regularly maintained.<br><br> <a href="/npm/mysql/" target="_blank">EXCEL-TO-MYSQL</a><br> <a href="/npm/mongo/" target="_blank">EXCEL-TO-MONGODB</a></div>
									<div class="tab-pane fade" id="list-3" role="tabpanel" aria-labelledby="list-home-list">Developed The college Technical Website for 2 consecutive years.<br> 2018 website used Metro JS and 2019 website used MDBootstrap.<br> 2018 website contained full backend while 2019 website used google forms.<br><br> <a href="/cs2018/">2018 website</a><br><a href="/cs2019/">2019 website</a></div>
									<div class="tab-pane fade" id="list-4" role="tabpanel" aria-labelledby="list-home-list">Coming Soon...</div>
									<div class="tab-pane fade" id="list-5" role="tabpanel" aria-labelledby="list-home-list">1) 2019 Cybersrishti website used android app as well.<br> An additional event ,i.e., QUIZ Event was hosted on the app itself.<br> 2) An android app for this website was created on learning basis.<br> The apps use phonegap and cordova API.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class = "section" id = "section2" style="color: white;">
					<div class="slide" id="repos">
						<center><h3>My Created GitHub Repositories (Live from Github)</h3></center>
						<div class="row" style="color:black">
							<div class="col-sm-5 offset-sm-2 col-md-2 offset-md-2" style="color:black;padding-right:0px;">
								<div class="list-group" id="list-tab" role="tablist" style="height: 70vh;overflow: auto;color:black">
								</div>
							</div>
							<div class="col-6 mobile" style="background-color:#b7b7b7;color:#495057;color:black">
								<div class="tab-content" id="nav-tabContent" style="padding:5%;">
									<div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Please select one from the list</div>
								</div>
							</div>
						</div>
					</div>
					<div class="slide" id="calender">
						<div class="calendar" style="background-color: white;color: black;width: 80%;overflow: auto;">
						</div>
					</div>
				</div>
				<div class = "section" id = "section3" style="color: white;">
					<center>
						<div class="row">
							<div class="col-sm-12">
								<h3>
									Contact me using Social Networks!
								</h3><br>
								<div class = "ngudbhav">
									<h5>
										Use "NGUdbhav" to connect on apps such as Snapchat, Github, Telegram, WeChat.
									</h5>
								</div>
							</div>
						</div><br>
						<div class="row">
							<div class="col-3">
								<a href = "https://www.facebook.com/ngudbhav" target="_blank"><span class = "animate"><img src = "images/fb.png" class = "image-responsive zoom x" width="100%"></span></a>
							</div>
							<div class="col-3">
								<a href = "https://www.twitter.com/ngudbhav" target="_blank"><span class = "animate"><img src = "images/twitter.png" class = "image-responsive zoom x" width="100%"></span></a>
							</div>
							<div class="col-3">
								<a href = "https://www.instagram.com/ngudbhav" target = "_blank"><span class = "animate"><img src = "images/insta.png" class = "image-responsive zoom x" width="100%"></span></a>
							</div>
							<div class="col-3">
								<a href = "https://ngudbhavcorp.blogspot.com" target = "_blank"><span class = "animate"><img src = "images/blog.png" class = "image-responsive zoom x" width="100%"></span></a>
							</div>
						</div><br>
						<div class="row">
							<div class="col-sm-12">
								<h6>Got so many ways to do it!</h6>
							</div>
						</div>
					</center>
				</div>
				<div class = "section" id = "section4">
					<div class="row" style="background-color: white;">
						<div class="col-sm-3">
							<div>
								<img src = "images/giphy.gif" class="cutegif" />
							</div>
						</div>
						<div class="col-sm-6">
							<form method="POST" action="/sending" id="mail" style="padding: 3%;">
								<div class="input-control modern text iconic">
    								<input type="text" required name = "name" placeholder="Your Name" autocomplete="name">
								</div><br><br>
								<div class="input-control modern email iconic" data-toggle="tooltip" title="I won't spam you!">
    								<input type="email" required name="email" placeholder="Your E-Mail" autocomplete="email">
								</div><br><br>
								<div class="input-control textarea">
    								<textarea placeholder="Input your message" style = "resize: none;" required name="bodymsg" cols="50" rows="4"></textarea>
								</div><br><br>
								<div>
									<button class="btn btn-danger g-recaptcha" data-sitekey="6LdpSD0UAAAAACRkDPqngQMQJ96gB5Unzf2YIx9R" data-callback='onSubmit'>Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/JAVASCRIPT" src="/js/gh.min.js"></script>
		<script src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"></script>
		<script>
			(function () {
				var gh = new GitHub();
				gh.get('users/ngudbhav/repos', function(err, repos){
					if(err) throw err;
					else{
						for (let i = 0; i <repos.length; i++) {
							if(repos[i].license){
								console.log(repos);
								$("#list-tab").append('<a class="list-group-item list-group-item-action" id="'+repos[i].id+'" data-toggle="list" href="#list-'+repos[i].id+'" role="tab" aria-controls="home">'+repos[i].name+'</a>');
								$("#nav-tabContent").append('<div class="tab-pane fade" id="list-'+repos[i].id+'" role="tabpanel" aria-labelledby="'+repos[i].id+'">'+repos[i].name+'<br>'+repos[i].description+'<br>'+repos[i].html_url+'<br>'+repos[i].language+'</div>');
							}
						}
					}
				});
			})();
		</script>
		<script>
    		GitHubCalendar(".calendar", "ngudbhav");
		</script>
	</body>
</html>