<!DOCTYPE html>
<html>
<head>
	<title>Mail Sending</title>
</head>
<body>
	<h1>Processing and Sending Mail</h1><br>
	<h1>
		Thank You :)<br>
		Redirecting You Back!
	</h1>
	<script type="text/javascript">
		setTimeout(function(){window.location.replace('/');}, 1000);
	</script>
</body>
</html>