@import '../normalise';
@import '../base';
@import '../utils';
@import '../anim';

@import './index/header';

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.index {
  //@include header-animation;

  //&.exiting {
  //  .index {
  //    &__header, &__links {
  //      opacity: 0;
  //      transition: opacity var(--animation-duration) ease-in-out;
  //    }
  //  }
  //
  //  .canvas {
  //    display: none;
  //  }
  //}

  &__links {
    &--left, &--right {
      padding: 1rem;
    }
  }

  &__link-icon {
    margin-top: 1rem;
  }
}
