@use '../normalise';
@use '../base';
@use '../utils';
@use '../anim';

@use './index/header';

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.index {
  &__links {
    @media screen and (max-width: 480px) {
      flex-direction: column !important;
    }

    &--left, &--right {
      padding: 1rem;

      @media screen and (max-width: 480px) {
        padding: 2rem;
      }
    }
  }

  &__link-icon {
    margin-top: 1rem;
  }
}
