@import '../normalise';
@import '../base';
@import '../utils';

@import './index/header';

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.index {
  &__links {
    &--left, &--right {
      padding: 1rem;
    }
  }

  &__link-icon {
    margin-top: 1rem;
  }
}
