@import '../normalise';
@import '../base';
@import '../utils';
@import '../anim';

.projects {
  //@include header-animation;

  //&.entering {
  //  .projects {
  //    &__header {
  //      opacity: 0;
  //      transition: opacity var(--animation-duration) ease-in-out;
  //    }
  //
  //    &__links {
  //      opacity: 0;
  //      transition: opacity var(--animation-duration) ease-in-out;
  //    }
  //  }
  //}

  //&.entered {
  //  .projects {
  //    &__header {
  //      opacity: 1;
  //      transition: opacity var(--animation-duration) ease-in-out;
  //    }
  //
  //    &__links {
  //      opacity: 1;
  //      transition: opacity var(--animation-duration) ease-in-out;
  //    }
  //  }
  //}

  &__container {
    padding: 5rem;
  }

  &__main {
    margin-top: 0 !important;
    cursor: unset;
  }

  &__links {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__link {
    width: 40%;
    background: var(--primary-background-color);
  }

  &__link-image {
    margin-top: 2rem;
  }
}
