.projects {
  &__container {
    padding: 5rem;
  }

  &__main {
    margin-top: 0 !important;
    cursor: default;
  }

  &__links {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__link {
    width: 40%;
    background: var(--primary-background-color);
  }

  &__link-image {
    margin-top: 2rem;
  }
}
