.primary-font-color {
  color: var(--primary-color);
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.full-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: auto;
}

.h2, h2 {
  font-size: 2.4rem;
}

.h1, h1 {
  font-size: 3.2rem;
}

.overflow-x-scroll {
  overflow-x: auto;
}
