.navbar {
  top: 0;

  &--center {
    right: 50%;
    transition: right var(--animation-duration) ease-in-out;
  }

  &--right {
    right: 0;
    transition: right var(--animation-duration) ease-in-out;
  }

  &__home {
    cursor: pointer;
    color: var(--primary-color);
  }
}
