.box-link {
  padding: var(--header-footer-height);
  background-color: #222222;
  border: 0.1rem solid #393939;
  cursor: pointer;
  margin: var(--header-footer-height) 0 !important;
  border-radius: var(--border-radius);
}
